/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient( to right bottom, hsla(160, 64%, 43%, 0.801), hsla(111, 55%, 64%, 0.801)), url("../img/hero.jpg");
    background-position: top;
    background-size: cover;
    /* path to cut the image, use online tools to get the values */
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);
    color: white;
}

.logo-box {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    height: 40px;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 90px;
}

.heading-primary-main {
    display: block;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 35px;
    backface-visibility: hidden;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 20px;
    padding-left: 10px;
    /*animation-timing-function: ease-in;*/
}

.text-box {
    padding: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn:visited,
.btn:link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #7ed56f;
    position: relative;
    transition: all .4s;
    backface-visibility: hidden;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.205);
}

.btn:after {
    content: '';
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn:hover:after {
    transform: scaleX(1.25) scaleY(1.5);
    transition: all .5s;
    opacity: 0;
}

.btn-white {
    color: #777;
    background-color: #fff;
}

.btn-white:after {
    background-color: #fff;
    border-radius: 50px;
}

.btn-white:hover:after {
    background-color: #fff;
    border-radius: 50px;
}


/* Animation  */

.fading {
    animation-name: FadingOut;
    animation-duration: 6s;
    animation-timing-function: ease-out;
}

.animateToUp {
    animation-name: MoveToUp;
    animation-duration: 5s;
}

.animateToDown {
    animation-name: MoveInDown;
    animation-duration: 5s;
}

.animateToRight {
    animation-name: MoveToRight;
    animation-duration: 5s;
}

.animateToLeft {
    animation-name: MoveToLeft;
    animation-duration: 5s;
}


/* Animation KeyFrames*/

@keyframes MoveToRight {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes MoveToLeft {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MoveInDown {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }
    /*
    50% {
        transform: rotate(-200deg);
    }*/
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MoveToUp {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes FadingOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}