body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header,
.nav,
.sidebar,
.main-content {
    margin: 25px;
    padding: 20px;
}

.header {
    background-color: black;
    color: white;
    flex: 1 1 100%;
}

.nav {
    background-color: darkgrey;
    color: white;
    flex: 1 1 8%;
}

.sidebar {
    background-color: darkgrey;
    color: white;
    flex: 1 1 8%;
}

.main-content {
    background-color: rgb(68, 68, 99);
    color: white;
    flex: 1 1 70%;
}

@media (min-width: 763px) {
    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .header,
    .nav,
    .sidebar,
    .main-content {
        margin: 10px;
        padding: 20px;
    }
    .header {
        background-color: rgb(68, 68, 99);
        color: white;
        flex: 1 1 100%;
    }
    .nav {
        background-color: rgb(220, 220, 247);
        color: blue;
        flex: 1 1 8%;
    }
    .sidebar {
        background-color: rgb(161, 161, 253);
        color: white;
        flex: 1 1 20%;
    }
    .main-content {
        background-color: rgb(255, 255, 255);
        color: black;
        flex: 1 1 60%;
    }
}

@media (max-width: 1225px) {
    .main-content {
        order: 3;
        flex: 1 1 100%;
    }
}